@font-face {
    font-family: 'Blanquotey';
    src: url('../../fonts/Blanquotey.ttf') format('truetype');
}



/*html,body{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    !*background-color: #000;*!*/
/*    color: black;*/
/*    background-color:#ebebeb;*/
/*!*    overflow-x: hidden;*!*/
/*}*/


.img-about{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.sec-about{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-abt{
    height: 100vh;
}

.hero-abt .img-container-abt{

    width: 50%;
    aspect-ratio: 1;
}

.main-abt{
    width: 100vw;
    height: 150vh;
    flex-direction: column;
    overflow-x: hidden;
}


.row-abt{
    position: relative;
    width: 100vw;
    margin: 1em 0;
    display: flex;
    justify-content: center;
    gap: 2em;

}

.giphy-embed{
    position: absolute;
}
.card-abt{
    position: relative;
    width: 40%;
    height: 360px;
    border-radius: 0.75em;
    overflow: hidden;
    will-change: transform;
}

.main-content{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo-abt{
    width: 150px;
    height: 150px;
    border:2px solid black;

    border-radius: 100%;
    overflow: hidden;
    /*transform: scale(0);*/
    clip-path: circle(50% at 50% 50%);
    transform: translateY(120px);
}
.logogif{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;


}



.copy-abt{
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line-abt{
    font-family: Ubuntu;
    position: relative;
    margin: 0.5em 0;
    width: max-content;
    height: 28px;
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);

}
.line-abt p{
    position: relative;
    font-size: 24px;
    transform: translateY(30px);
}

@media (max-width:900px){
    .card-abt{
        width: 50%;
        height: 240px;
    }
}

