@font-face {
    font-family: 'Blanquotey';
    src: url('../../fonts/Blanquotey.ttf') format('truetype');
}
.footer-parent{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer-spacer{
    background-color: black;
    width: 100%;
    height: 4rem;
    border-radius: 250px 250px 0px 0px;
    display: none;
}
.links-out{
    display: flex;
    gap: 1rem;
}
footer{
    /* background-color: black; */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
    padding-left: 2rem;
    padding-bottom: 5rem;
    justify-content: space-between;
    min-height: 70vh;
    gap: 3rem;
    
}
.footer-heading p{
    display: flex;
    /*background-color: greenyellow;*/
    font-size: 7rem;
    /* font-family: -apple-system; */
    /* color: #F5F5F5; */
    color: black;
}
.footer-matter{
    display: flex;
    /*background-color: magenta;*/
    justify-content: space-between;
}
.footer-content{
    display: flex;
    /*background-color: firebrick;*/
    gap: 6rem;
    /*margin-right: 19rem;*/
}
.footer-logo{
    display: flex;
    height: fit-content;
    /* clip-path: polygon(0 0,100% 0,100% 100%,0 100%); */
    /* background-color:green; */
    

}
.footer-logo p{
    /* color: #F5F5F5; */
    color: black;
    font-family: Blanquotey;
    font-size: 8rem;
    /*background-color: greenyellow;*/
    line-height: 120px;
    
    /* transform: translateY(120px); */

}
.footer-links-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-links p, .footer-links-container p{
    /* font-family: -apple-system; */
    font-size: 28px;
    /* color: white; */
    color: black;
    font-weight: 500;
}
.footer-partition{
    /* background-color: white; */
    background-color: black;
    width: 2px;
    border-radius: 20%;
    height: 0px;
}
.footer-heading-des p{
    /* color: white; */
    color: black;
    width: 60%;
    font-size: 20px;
}
.footer-heading{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-links-container-mob{
    display: none;
}
.chakra-petch-bold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.chakra-petch-reg {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.footer-content-mob{
    display: none;
}

@media (max-width:480px) {
    footer{
        /* background-color: black; */
        background-color: transparent;
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 2rem;
        justify-content: space-between;
        min-height: 70vh;
        gap: 3rem;
        
    }
    .footer-heading-des p{
        color: black;
        width: 100%;
        font-size: 1rem;
        text-align: center;
    }
    .footer-heading{
        /* background-color: peru; */
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
    .footer-heading > p{
        display: flex;
        /* background-color: greenyellow; */
        font-size: 2rem;
        text-align: center;
        color: black;
    }
    .footer-logo{
        display: flex;
        height: fit-content;
        /* clip-path: polygon(0 0,100% 0,100% 100%,0 100%); */
        /* background-color:green; */
    }
    .footer-logo p{
        color: black;
        font-family: Blanquotey;
        font-size: 4rem;
        /* background-color: greenyellow; */
        line-height: 120px;
        
    }
    .footer-matter{
        display: flex;
        /*background-color: magenta;*/
        /* justify-content: space-between; */
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-links p, .footer-links-container p{
        font-family: -apple-system;
        font-size: 1.3rem;
        color: black;
        font-weight: 500;
    }
    .mob-2{
        display: flex;
    }
    .footer-links-container-mob{
        display: flex;
    }
    .footer-content{
        display: none;

        
    }
    .footer-content-mob{
        display: flex;
        /* background-color: firebrick; */
        width: 100%;
        gap: 0rem;
        justify-content: space-between;
    }
    .footer-links-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-parent{
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-top: -16rem;
    }
}



